*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px 0;
}
.image-container {
    max-width: 90svw;
    overflow: hidden;
    margin: 0 auto 20px auto;
    display: block;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #111;
}

.image-container img {
    width: 100%;
    height: auto;
}
.error-msg {
    font-size: 24px;
}
